/* Importing fonts */
@import url('@fontsource/roboto/300.css');
@import url('@fontsource/roboto/400.css');
@import url('@fontsource/roboto/500.css');
@import url('@fontsource/roboto/700.css');
@import url('@fontsource/jura/300.css');
@import url('@fontsource/jura/400.css');
@import url('@fontsource/jura/500.css');
@import url('@fontsource/jura/700.css');


/* Main */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html, body, #root {
  min-height: 100dvh;
  max-height: 100%;
  width: 100%;
  font-family: 'Jura', sans-serif;
}

html, body {
  background-image: url("../src/images/main/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

:root {
  /* Colors */
}

.white{
  color:white;
}